body,
div.body {
    
 font-family: sans-serif;
 font-size: 13pt;
 color: #a2b0c7;
 background-color: #1a2028;
 background: #1a2028;
 -webkit-font-smoothing: antialiased !important;
}

/* smaller first letters */
*:first-letter {
    font-size: 40% !important;
}
h1{
    text-align: center;
}
.error{
    font-size: 24pt;
    color: #79fb06;
}
.error:after{
    content:'goodbye';
}
p {
    color: #f10d89;
    font-weight: var(--font-weight-body);
    line-height: var(--line-height-body);
    margin-top: var(--spacing-3);
    margin-bottom: var(--spacing-3);
}


/* Y U NO HOVER?! */
a:hover {
    display: none;
    font-size: 0;
}
a {
 font-family: sans-serif;
 color: #a2b0c7;
 -webkit-font-smoothing: antialiased !important;
}
/* misaligned images */
img[align="left"] {
    float: right;
}

img[align="right"] {
    float: left;
}
